$color-dark-shadow: #8c8c8c;
$color-dark-background: #000000;
$color-dark-border: #6e0000;
$color-dark-club-spade: #353535;
$color-dark-heard-diamond: #cc1635;

.card-container {
  &.dark {
    box-shadow: 5px 5px 10px $color-dark-shadow;
    border-radius: 10px;
    border-color: $color-dark-border;
    background-color: $color-dark-background;
  }
}

.card-top-bot {
  &.dark {
    &.spade, &.club {
      color: $color-dark-club-spade;
    }
    &.diamond, &.heart, &.blank {
      color: $color-dark-heard-diamond;
    }
  }
}

.card-middle {
  &.dark {
    &.spade, &.club {
      color: $color-dark-club-spade;
    }
    &.diamond, &.heart, &.blank {
      color: $color-dark-heard-diamond;
    }
  }
}