$color-border-color: #333;
$color-form-background: #ececec;
$color-shadow: #818181;
$color-inline-error: #b60000;
$color-label: #181818;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;